<!DOCTYPE html>
<html>
<head>
    <title>Treto Gallery Wall</title>
    <script type="application/javascript" src="/js/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="panel">
    <div id="dropzone" ondragend="upload">
        <div class="text">Перетащите сюда файл с ссылками на картинки</div>
    </div>
    <div id="messages"></div>
</div>

<div id="wall"></div>
<script type="application/javascript" src="/js/app.js"></script>
</body>
</html>
